POSTTEST 2 KECERDASAN BUATAN

Yanuar Satria Gotama (2009106013)

In [22]:
import matplotlib.pyplot as plt
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate
df = pd.read_csv("kaggle discussions.csv")

Informasi yang di dapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [23]:
# Jumlah record
JumlahRec = len(df)
print(JumlahRec)

# Nama Attribute
namaAtt = list(df.columns)
print(namaAtt)

# Jumlah Attribute tipe Objek
jumlahAttObjek = len(df.dtypes[df.dtypes == 'object'])
print(jumlahAttObjek)

# Jumlah Attribute tipe Angka
jumlahAttAngka = len(df.dtypes[df.dtypes == 'int64'])
print(jumlahAttAngka)

#Jumlah Attribute nilai Null
df.isna().any().sum()

2644
['rank', 'points', 'status', 'profile url', 'name', 'joined', 'gold medals', 'silver medals', 'bronze medals']
5
4

0

Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [24]:
# Jumlah record
JumlahRec = len(df)

# Nama Attribute
namaAtt = list(df.columns)
namaAtt = ",\n".join(namaAtt)

# Jumlah Attribute tipe Objek
jumlahAttObjek = len(df.dtypes[df.dtypes == 'object'])

# Jumlah Attribute tipe Angka
jumlahAttAngka = len(df.dtypes[df.dtypes == 'int64'])

#Jumlah Attribute nilai Null
jumlahAttNull = df.isna().any().sum()

kamus = {
    "Jumlah Record":[JumlahRec],
    "Nama Attribute" : [namaAtt],
    "Jumlah Attribute tipe Objek" : [jumlahAttObjek],
    "Jumlah Attribute tipe Angka" : [jumlahAttAngka],
    "Jumlah Attribute nilai Null"  : [jumlahAttNull],
    
}

tab = pd.DataFrame(kamus)
print(tabulate(tab, headers='keys', tablefmt='psql',showindex=False))

+-----------------+------------------+-------------------------------+-------------------------------+-------------------------------+
|   Jumlah Record | Nama Attribute   |   Jumlah Attribute tipe Objek |   Jumlah Attribute tipe Angka |   Jumlah Attribute nilai Null |
|-----------------+------------------+-------------------------------+-------------------------------+-------------------------------|
|            2644 | rank,            |                             5 |                             4 |                             0 |
|                 | points,          |                               |                               |                               |
|                 | status,          |                               |                               |                               |
|                 | profile url,     |                               |                               |                               |
|                 | name,            |                               |                               |                               |
|                 | joined,          |                               |                               |                               |
|                 | gold medals,     |                               |                               |                               |
|                 | silver medals,   |                               |                               |                               |
|                 | bronze medals    |                               |                               |                               |
+-----------------+------------------+-------------------------------+-------------------------------+-------------------------------+

Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [25]:
df.describe()

             rank  gold medals  silver medals  bronze medals
count  2644.00000  2644.000000    2644.000000    2644.000000
mean   1322.50000     5.860061       7.811649     135.347958
std     763.40138    18.316429      21.771230     250.464925
min       1.00000     0.000000       0.000000      18.000000
25%     661.75000     0.000000       1.000000      59.000000
50%    1322.50000     1.000000       3.000000      79.000000
75%    1983.25000     5.000000       8.000000     133.000000
max    2644.00000   440.000000     567.000000    8727.000000

Tampilkan nilai korelasi attribute bertipe angka.

In [26]:
df.corr()

                   rank  gold medals  silver medals  bronze medals
rank           1.000000    -0.345224      -0.304609      -0.332526
gold medals   -0.345224     1.000000       0.953389       0.589703
silver medals -0.304609     0.953389       1.000000       0.609820
bronze medals -0.332526     0.589703       0.609820       1.000000

Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [28]:
df["gold medals"].head()

df["gold medals"] = df["gold medals"] * 0.001

df["gold medals"].head()

0    0.343
1    0.403
2    0.057
3    0.440
4    0.060
Name: gold medals, dtype: float64

Tampilkan 10 record pertama dari attribute bertipe angka.

In [30]:
dfAttAngka= df.select_dtypes(include=['float64','int64'])

dfAttAngka.head(10)

   rank  gold medals  silver medals  bronze medals
0     1        0.343            461           3993
1     2        0.403            454           2494
2     3        0.057             91           8727
3     4        0.440            567           4456
4     5        0.060             39           1447
5     6        0.098            110           1275
6     7        0.052             52            367
7     8        0.066             29            860
8     9        0.103             33            875
9    10        0.138            206           1060

Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [31]:
dfAttAngka.to_csv("PostTest2.csv", index=False)