POSTTEST 2 KECERDASAN BUATAN

Yanuar Satria Gotama (2009106013)

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate
df = pd.read_csv("seattle-weather.csv")

Informasi yang di dapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [3]:
# Jumlah record
JumlahRec = len(df)
print(JumlahRec)

# Nama Attribute
namaAtt = list(df.columns)
print(namaAtt)

# Jumlah Attribute tipe Objek
jumlahAttObjek = len(df.dtypes[df.dtypes == 'object'])
print(jumlahAttObjek)

# Jumlah Attribute tipe Angka
jumlahAttAngka = len(df.dtypes[df.dtypes == 'int64'])
print(jumlahAttAngka)

#Jumlah Attribute nilai Null
df.isna().any().sum()

2099
['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather']
2
0

6

Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [4]:
# Jumlah record
JumlahRec = len(df)

# Nama Attribute
namaAtt = list(df.columns)
namaAtt = ",\n".join(namaAtt)

# Jumlah Attribute tipe Objek
jumlahAttObjek = len(df.dtypes[df.dtypes == 'object'])

# Jumlah Attribute tipe Angka
jumlahAttAngka = len(df.dtypes[df.dtypes == 'int64'])

#Jumlah Attribute nilai Null
jumlahAttNull = df.isna().any().sum()

kamus = {
    "Jumlah Record":[JumlahRec],
    "Nama Attribute" : [namaAtt],
    "Jumlah Attribute tipe Objek" : [jumlahAttObjek],
    "Jumlah Attribute tipe Angka" : [jumlahAttAngka],
    "Jumlah Attribute nilai Null"  : [jumlahAttNull],
    
}

tab = pd.DataFrame(kamus)
print(tabulate(tab, headers='keys', tablefmt='psql',showindex=False))

+-----------------+------------------+-------------------------------+-------------------------------+-------------------------------+
|   Jumlah Record | Nama Attribute   |   Jumlah Attribute tipe Objek |   Jumlah Attribute tipe Angka |   Jumlah Attribute nilai Null |
|-----------------+------------------+-------------------------------+-------------------------------+-------------------------------|
|            2099 | date,            |                             2 |                             0 |                             6 |
|                 | precipitation,   |                               |                               |                               |
|                 | temp_max,        |                               |                               |                               |
|                 | temp_min,        |                               |                               |                               |
|                 | wind,            |                               |                               |                               |
|                 | weather          |                               |                               |                               |
+-----------------+------------------+-------------------------------+-------------------------------+-------------------------------+

Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [5]:
df.describe()

       precipitation     temp_max     temp_min         wind
count    2085.000000  2085.000000  2085.000000  2085.000000
mean        2.940863    17.047098     8.612566     3.228825
std         6.611357     7.316244     4.961105     1.387672
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    11.100000     5.000000     2.300000
50%         0.000000    16.100000     8.900000     3.000000
75%         2.500000    22.800000    12.800000     4.000000
max        55.900000    35.600000    18.300000     9.500000

Tampilkan nilai korelasi attribute bertipe angka.

In [6]:
df.corr()

               precipitation  temp_max  temp_min      wind
precipitation       1.000000 -0.238134 -0.082170  0.319691
temp_max           -0.238134  1.000000  0.874029 -0.169440
temp_min           -0.082170  0.874029  1.000000 -0.084137
wind                0.319691 -0.169440 -0.084137  1.000000

Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [7]:
df["precipitation"].head()

df["precipitation"] = df["precipitation"] * 0.01

df["precipitation"].head()

0    0.000
1    0.109
2    0.008
3    0.203
4    0.013
Name: precipitation, dtype: float64

Tampilkan 10 record pertama dari attribute bertipe angka.

In [9]:
dfAttAngka= df.select_dtypes(include=['float64','int64'])

dfAttAngka.head(10)

   precipitation  temp_max  temp_min  wind
0          0.000      12.8       5.0   4.7
1          0.109      10.6       2.8   4.5
2          0.008      11.7       7.2   2.3
3          0.203      12.2       5.6   4.7
4          0.013       8.9       2.8   6.1
5          0.025       4.4       2.2   2.2
6          0.000       7.2       2.8   2.3
7          0.000      10.0       2.8   2.0
8          0.043       9.4       5.0   3.4
9          0.010       6.1       0.6   3.4

Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [ ]:
dfAttAngka.to_csv("PostTest2.csv", index=False)